<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.bshi.alfred.workflow.weblocker</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A5B6076-B68E-456A-B5B5-A1695632A07A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A864DE1C-F18D-41DA-A09E-73DAC47F5782</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Baoxu Shi (Dash)</string>
	<key>description</key>
	<string>Block specific websites by editing your hosts file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Web Blocker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>do shell script "
ALREADY_BLOCK=$(cat /private/etc/hosts | grep \"{query}\" | wc -l); \
if [ $ALREADY_BLOCK == \"0\" ] \
	then \
		sudo echo \"127.0.0.1 {query}\" &gt;&gt; /private/etc/hosts \
fi
" with administrator privileges

</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>weblock</string>
				<key>text</key>
				<string>Block website</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>webunlock</string>
				<key>text</key>
				<string>Unlock website</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8A5B6076-B68E-456A-B5B5-A1695632A07A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>do shell script "

cat /private/etc/hosts | grep -vE \"{query}\" &gt; /tmp/hosts;
mv /tmp/hosts /private/etc/hosts;

" with administrator privileges

</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A864DE1C-F18D-41DA-A09E-73DAC47F5782</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8A5B6076-B68E-456A-B5B5-A1695632A07A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A864DE1C-F18D-41DA-A09E-73DAC47F5782</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/bxshi</string>
</dict>
</plist>
